# ============================================
# APPLICATION
# ============================================
NAME='StatementParser'
ENVIRONMENT=development
NOTIFY_EMAILS=admin@example.com,alerts@example.com
TIMEZONE=Asia/Kolkata

DB_TYPE=postgres
DB_USER=superset
DB_PWD=superset
DB_SERVER=localhost
DB_PORT=5432
DB_NAME=superset
DB_DRIVER=optinal


CELERY_USE_DB=false
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_BACKEND_URL=redis://localhost:6379/1
CELERY_DEFAULT_QUEUE=statement_q

REDIS_URL=redis://localhost:6379/2

